html{
  font-family: Verdana;
  text-align: center;
  background-color: black;
}
h1 {
  font-size: 50px;
  font-weight: normal;
  color: White;
}
h2 {
  font-size: 42px;
  font-weight: 300;
  color: white;
}
h4 {
  font-size: 16px;
  color: Aquamarine;
}
p {
  font-size: 21px;
  color: Gray;
}
.copyright p {
  text-align: right;
}
